{% extends 'base.html' %}
{% block body %}
<script async src="/static/scripts/vue3.2.36.js"></script>
<!-- components -->
<script src="/static/scripts/menu.js"></script>
<script src="/static/scripts/home.js"></script>
<script src="/static/scripts/auth.js"></script>
<script src="/static/scripts/error.js"></script>
<script type="module" src="/static/scripts/table.js"></script>
<script type="module" src="/static/scripts/add.js"></script>
<script src="/static/scripts/city.js"></script>
<div id="app" class='app' >
	<div class='app__content' :style="style_bg">
	
		<header class='app__head'>
			<nav-menu :items="nav_items" @go="change_page"></nav-menu>
			<h1 class='app__title' v-if="title">
			{% raw %}{{title.title}}{% endraw %}
			</h1>
		</header>
		
		<main class='app__main'>

			
			<component v-if="current_page in nav_items" 
				:is="current_page"></component>
			<error v-else></error>
			
		</main>
		
		<footer class='app__foot'>
		
		</footer>
	</div>
</div>
<script>
{% if user %}
const user = '{{user}}';
{% endif %}	
</script>
<!-- main app -->
<script src="/static/scripts/app.js"></script>
{% endblock %}