<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<!-- CDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />	
	<!-- BAM Castom styles -->
	<link rel="stylesheet" href='/static/styles/table.css'/>
	<link rel="stylesheet" href='/static/styles/modal.css'/>
	<link rel="stylesheet" href='/static/styles/app.css'/>
	<link rel="stylesheet" href='/static/styles/menu.css'/>
	<link rel="stylesheet" href='/static/styles/main.css'/>
	<link rel="stylesheet" href='/static/styles/auth.css'/>
	<link rel="stylesheet" href='/static/styles/city.css'/>
	<link rel="stylesheet" href='/static/styles/search.css'/>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>