.city {
	height: calc( 100vh - 100px );
	overflow: hidden;
}
.city__body {
	width: 1200px;
	padding: 20px;
	display: flex;
	align-items: start;
	gap: 20px;
}

.city__aside {
	width: 15%
}

.city__content {
	width: 80%
}

.col__list {
	list-style: none;
}

.col__item {
	transition: 1s all;
	cursor: pointer;
}
.col__item:hover {
	list-style: circle;
}