
.tbl__wrap {
  position:relative;
}
.tbl__scroll {
  height: 500px;
  overflow: auto;  
  margin-top: 20px;
}
.tbl__wrap table {
  width:100%;
}

.tbl__hspan {
  position:absolute;   
  top:-20px;
  z-index:2;
  padding: 0 5px;
  align-items: center;
  display: flex;
 
}

.tbl__hspan_sort{
  cursor: pointer;
}

.tbl__hspan_sort:after{
	content: '';
	display: block;
	position: absolute;
	border: 5px solid transparent;
	left: -10px;
	transition: .5s all;
}
.tbl__hspan_sort[data-sort="1"]:after{
	border-color: transparent transparent gray transparent;
	transform: translateY(-50%);
}
.tbl__hspan_sort[data-sort="-1"]:after{
	border-color: gray transparent  transparent transparent;
	transform: translateY(50%);
}
.tbl__th_n{
	text-align: left;
	width: 40px;
}

.tbl__th.name,
.tbl__th.status,
.tbl__th.work
{
	text-align: left;
}

.tbl__td.age,
.tbl__td.lvl,
.tbl__td.coef
{
	text-align: center;
    width: 60px;
}
.tbl__td.coef{
	width: 100px;
}
.tbl__td.rate{
	text-align: right;
	width: 60px;
}

.tbl__td_x{
	text-align: center;	
	font-weight: bold;
	cursor: pointer;
	color: darkred;
}

.tbl__td{
	font-style: italic
}
.tbl__td_write{
	font-style: normal;
	cursor: pointer;
}

.tbl__panel{
	display: flex;
	align-items: center;
    gap: 20px;
}